ALIBABA_CLOUD_ACCESS_KEY_ID=your-aliyun-access-key
ALIBABA_CLOUD_ACCESS_KEY_SECRET=your-aliyun-secret-key
PORT=3001
SENDER_EMAIL=your-mail-sender-address-from-aliyun
API_SECRET=custom-some-app-secret-key
